#body.home {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
#body.home div.header {
	background-color: #f8f8f8;
	margin: 0;
	max-width: none;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home div.header img {
	display: block;
	left: 50%;
	margin: 0 auto 0 -563px;
	padding: 0;
	position: absolute;
	width: 1126px;
}
#body.home div.header div {
	margin: 0 auto;
	max-width: 960px;
	min-height: 660px;
	padding: 0;
	position: relative;
}
#body.home div.header div p {
	background: url(../images/icons.png) no-repeat 0 -128px;
	color: #FFFFFF;
	display: block;
    text-decoration: none;
	font-size: 24px;
	font-weight: normal;
	height: 156px;
	line-height: 24px;
	margin: 0;
	padding: 52px 0 0;
	position: absolute;
	right: 130px;
	text-align: center;
	text-transform: uppercase;
	top: 437px;
	width: 156px;
	z-index: 90;
}
#body.home div.body {
	background-color: #eae7e8;
	margin: 0;
	max-width: none;
	padding: 0;
	width: 100%;
}
#body.home div.body div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 0;
}
#body.home div.body div div {
	float: left;
	margin: 0;
	padding: 0 0 0 40px;
	width: 560px;
}
#body.home div.body div img {
	display: block;
	float: right;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
#body.home div.body div div h1 {
	color: #7A6666;
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 0;
	padding: 47px 0 18px;
	text-align: left;
	text-transform: uppercase;
	width: 560px;
}
#body.home div.body div div h2 {
	color: #E32A62;
	display: block;
	font-size: 30px;
	font-weight: bolder;
	line-height: 30px;
	margin: 0;
	padding: 0 0 26px;
	text-align: left;
	text-transform: none;
	width: 560px;
}
#body.home div.body div div p {
	color: #7a6666;
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 560px;
}