.recipe {
    display: block;
}
.recipe-img {
    border-radius: 10px;
}
.recipe h5 {
margin-bottom: 0; 
margin-top: 0.25rem;
line-height: 1;
color: var(--grey-700);
text-decoration: none;
}
.recipe p {
margin-bottom: 0;
line-height: 1;
color: var(--grey-500);
margin-top: 0.5rem;
letter-spacing: var(--letterSpacing);
}
.recipes-list {
display: grid;
gap: 2rem 1rem;
padding-bottom: 3rem;   
}
.page {
width: 90vw;
max-width: var(--max-width);
margin: 0 auto;
}
.page {
padding-top: 2rem;
min-height: calc(100vh - (6rem + 4rem));
}
.recipes-container {
    display: grid;
    gap: 2rem 1rem;
}
.recipeA{
    position: relative;
    float: left;
}
.ing{
    width: 100px
}
#nutri{
    cursor: pointer;
}
#label{
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  padding-top: 60px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }